<div class="image-container" style="position: relative; display: inline-block;">
  <!-- Bottone sopra l'immagine -->
  <%= link_to 'Download CV', '/documents/CV2.pdf', class: 'btn btn-primary download-button', style: 'position: absolute; top: 10px; left: 50%; transform: translateX(-50%); background-color: #007bff; color: white; padding: 5px 15px; font-size: 14px;' %><br><br><br>

<div class="page-layout">
  <%= image_tag("tommaso.jpg", alt: "Descrizione immagine", class: "profile-image") %><br><br>
  
  <div class="profile-description">
    <h1>Chi Sono</h1>
    <p style="text-align: justify;">
      Mi sono laureato in Lettere con indirizzo “Musica e Spettacolo” e in Scienze dell’Educazione Sociale. Durante gli studi ho cominciato a fare volontariato in ambito educativo e una volta terminati, dopo un’esperienza come operatore sociale, mi sono dedicato all’insegnamento dell’italiano ai migranti (donne vittime della tratta, rifugiati e rifugiate per motivi umanitari, alunni e alunne delle scuole primarie e secondarie di primo grado). Ho fatto parte di gruppi musicali di vario genere cantando, suonando la chitarra e le percussioni, approfondendo lo studio dei tamburi a cornice. La mia passione più grande è sempre stata la scrittura, alla quale mi dedico da tempo scrivendo poesie, diari e romanzi. Ho pubblicato 40 giorni a Floripa. Diario creativo di un educatore italiano in Brasile (ETS, 2014), Educatori, capitani, supereroi, con Andrea Mannucci (Aracne, 2015), i romanzi Zoologia Urbana (Sensibili alle foglie, 2022) e Bordellain (ETS, 2024).
    </p>
  </div>

  
</div>

