


<div class="page-layout">
  <%= image_tag("tommaso.jpg", alt: "Descrizione immagine", class: "profile-image") %>
  <div class="profile-description">
    <h1>Chi Sono</h1>
    <p>Sono laureato in Lettere con indirizzo Musica e Spettacolo e in Scienze dell’Educazione
Sociale. Durante gli studi ho cominciato a fare volontariato in ambito educativo e una volta
laureato, dopo una breve esperienza come operatore sociale, mi sono dedicato all’insegnamento
dell’italiano ai migranti, lavorando con le donne vittime della tratta per la prostituzione, con i
rifugiati per motivi umanitari, con gli alunni e le alunne della scuola primaria e secondaria. Ho
tenuto laboratori e seminari di scrittura creativa, teatro sociale e animazione musicale nell’ambito
dei corsi di laurea di Scienze della Formazione dell’Università di Firenze. Nel 2012 ho partecipato a
un progetto di interscambio di educatori e insegnanti tra l’Italia e il Brasile, che mi ha portato a
lavorare nelle comunità impoverite di Florianópolis. Nel corso degli anni ho preso parte a gruppi
musicali di vario genere (raggae, noise-rock, musica popolare) cantando, suonando la chitarra e le
percussioni, approfondendo lo studio dei tamburi a cornice del sud Italia. Ho praticato vari sport, tra
cui arti marziali, nuoto, surf e paddle surf. La mia passione più grande però è sempre stata la
scrittura, alla quale mi dedico da quando ero al liceo, prima scrivendo poesie, poi dei diari e alcuni
romanzi.
 </p>
    <!-- Altri elementi come competenze, testimonianze, ecc. -->
  </div>
</div>



