<h4 style="text-align: center;">Laboratori artistico-educativi</h4>

<div class="pages-layouts" style="display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center;">
  
  <div class="images-containers" style="display: flex; justify-content: center;">
    <%= image_tag 'foto.jpg', alt: 'Tommaso con tamburi', class: 'profile-image', style: 'width: 500px; height: 500px;' %>
  </div>

  <div class="profile-description" style="max-width: 700px; padding: 0 20px; margin-top: 20px;">
    <p class="text-right" style="text-align: justify;">
      Possiedo una lunga esperienza nella conduzione di laboratori educativi basati su attività espressive come la scrittura creativa e autobiografica, l'improvvisazione musicale con strumenti che provengono da varie parti del mondo, il disegno collettivo e il teatro sociale. Ho lavorato principalmente a Firenze presso servizi sociali rivolti ai migranti e ho insegnato in alcuni corsi di formazione per educatori e insegnanti. Ho tenuto laboratori e seminari artistico-educativi nell’ambito dei corsi di laurea di Scienze della Formazione dell’Università di Firenze. 
Nel 2012 ho vissuto una delle esperienze più significative della mia vita: ho partecipato a un programma di cooperazione educativa internazionale, la Rete Aquilone, che prevedeva l’interscambio di lavoratori sociali e insegnanti tra l’Italia e il Brasile. In questo contesto, ho avuto l'opportunità di lavorare come educatore volontario nelle comunità impoverite di Florianópolis, tenendo i miei laboratori in scuole e centri educativi rivolti ai minori a rischio di esclusione sociale e scolastica. Nello stesso progetto ho collaborato con l’educatore e attore Ciro Arancini componendo, cantando e suonando dal vivo la colonna sonora del suo spettacolo di guarattelle “È tutta ‘rrobba ‘bbona”, che abbiamo rappresentato a Florianópolis nei contesti educativi rivolti ai minori delle periferie, al Teatro Armação (teatro d’avanguardia noto per essere il più piccolo del Brasile), al Dipartimento di Teatro della Universidade do Estado de Santa Catarina (U.D.E.S.C.) e a Rio de Janeiro in alcune comunità per minori della periferia nord.

    </p>
  </div>
</div>

