// app/assets/stylesheets/about.scss

.page-layout h1, h2 {
    font-size: 24px; // Sostituisci questo valore con la dimensione del font desiderata
    text-align: center;
    // Altri stili specifici per h1
  }


  .btn {
    display: inline-block;
    padding: 0px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: blue;
    background-color: #007FFF; 
    border-radius: 5px;
    border: none;
    cursor: pointer;
    
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .btn.btn-primary {
    background-color: #007FFF !important;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  

  .profile-description p {
    text-align: justify;
  }