@import "materialize";
@import "books";
@import "laboratori";



body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
      

  .image-container {
    display: flex;
    justify-content: flex-start; /* Allinea gli elementi all'inizio, a sinistra */
    align-items: center; /* Facoltativo, allinea verticalmente */
    height: 700px; /* O l'altezza che preferisci */
    
  }
  
  
  .centered-image {
    max-height: 100%;
    max-width: 100%;
  }

  

  footer {
    background-color: #000000; /* Nero */
    color: #ffffff; /* Bianco per il testo */
    text-align: center;
    width: 100%;
    padding: 0px 0; /* Adegua i valori di padding in base alle tue preferenze */
  }

  


 
  
 


  .immagine-sinistra {
    float: left;
    margin-right: 20px; /* Distanza tra l'immagine e il testo */
    width: 350px;
    margin-left: 200px;
  }
  

  .contenitore-flex {
    display: flex;
    align-items: center; /* Centra gli elementi verticalmente */
  }
  
  .immagine img {
    margin-right: 20px; /* Aggiunge spazio tra l'immagine e la descrizione */
  }


  /* Layout della pagina con Flexbox */
.page-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding: 30px;
    background: linear-gradient(135deg, #ffffff, #ffffff);
    color: black;
  }
  
  /* Stile per le immagini */
  .profile-image {
    border-radius: 70%;
    margin-bottom: 20px;
    width: 340px;
    height: 440px;
    object-fit: cover;
  }
  
  /* Stile per il testo e i titoli */
  .profile-description {
    max-width: 710px;
  }
  
  h1, h2, p {
    margin-bottom: 20px;
    text-align: center;
    
  }

  


  
  /* Media query per dispositivi mobili */
  @media (max-width: 768px) {
    .page-layout {
      flex-direction: column;
    }
  }
  

  .books-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .row {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 20px; /* Aggiungi margine tra le file */
  }
  
  .book {
    flex: 0 1 30%; /* Occupa circa un terzo della larghezza della fila, con un po' di flessibilità */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Opzionale: aggiunge un'ombra per un effetto elevato */
    padding: 10px;
    margin: 5px; /* Assicurati che ci sia spazio tra i libri */
  }

  nav ul a
{
  transition: background-color .3s;
  font-size: 1rem;
  color: #fff;
  display: block;
  padding: 0 15px;
  cursor: pointer;
}

.titolo-miei-libri {
    text-align: center;
  }


  
.close-btn, .book-cover {
    cursor: pointer;
  }
  


  /* Stile predefinito per desktop */
.brand-logo {
    font-size: 14px; /* Ad esempio, usa la dimensione che preferisci */
    /* altri stili */
  }
  
  /* Stile per dispositivi mobili */
  @media screen and (max-width: 600px) {
    .brand-logo {
    font-size: 1.75rem !important; 
      
    }
  }
  


 /* Aggiungi questo al tuo CSS, ad esempio in application.css o un altro file CSS pertinente */
@media (max-width: 600px) {
    .popup-open .book-cover {
      display: none !important; /* Utilizza !important con cautela */
    }
  }

  

  /* Questo nasconde la copertina del libro nel popup quando la classe 'popup-open' è aggiunta al body */
@media (max-width: 600px) {
    body.popup-open .book-cover-popup {
      display: none;
    }
  }

  
  @media (max-width: 600px) {
  .popup-open .book-cover-popup {
    display: none; /* hai già questa regola */
  }

  /* Aggiungi queste regole per far sì che i dettagli del libro occupino tutto lo spazio disponibile */
  .popup-open .popup-content {
    flex-direction: column; /* Imposta la direzione del flex a colonna */
  }

  .popup-open .book-details {
    width: 100%; /* Consente ai dettagli del libro di occupare l'intera larghezza */
  }
}

  
  
 
@media (max-width: 600px) {
    .popup .book-cover-container img {
      width: 100%; /* Adatta la larghezza dell'immagine al contenitore */
      max-width: 300px; /* o la larghezza massima desiderata */
      margin: 0 auto 20px; /* Centra l'immagine e aggiungi spazio sotto */
    }
  
    .popup .book-details {
      width: 100%; /* Permette ai dettagli del libro di occupare la larghezza disponibile */
    }
  
    .popup-content {
      flex-direction: column; /* Imposta i figli del popup in colonna */
      align-items: center; /* Centra gli elementi figli orizzontalmente */
    }
  }

  
  .brand-logo {
    font-size: 14px; /* Dimensione predefinita */
  }
  
  @media (max-width: 768px) {
    .brand-logo {
      font-size: 18px; /* Dimensioni più piccole per tablet */
    }
  }
  
  @media (max-width: 460px) {
    .brand-logo {
      font-size: 6px; /* Dimensioni ancora più piccole per telefoni */
    }
  }
  
  
  
  
  .brand-logo {
    min-width: 120px; /* O la larghezza che meglio si adatta al tuo design */
    white-space: nowrap; /* Impedisce al testo di andare a capo */
  }
  
  
  
  .material-icons {
    font-size: 7px;
    padding-left: 5px;
  }


  
  
  
  // Supponendo che il titolo sia in un `<h2>` all'interno del popup
.popup h2 {
    font-size: 24px; // Riduci questo valore secondo necessità
  }
  
  // Oppure se il titolo ha una classe specifica
  .popup .book-title {
    font-size: 24px; // Riduci questo valore secondo necessità
  }
  
  // Adatta la dimensione del font in base alle dimensioni dello schermo con media queries
  @media (max-width: 768px) {
    .popup h2 {
      font-size: 20px; // Più piccolo per tablet
    }
    // Se hai una classe specifica per i titoli nel popup, usala qui
  }
  
  @media (max-width: 480px) {
    .popup h2 {
      font-size: 20px; // Ancora più piccolo per telefoni
    }
    // Se hai una classe specifica per i titoli nel popup, usala qui
  }
  


  .photo-credit {
    font-size: 0.8em;
    color: #fcfafa;
    text-align: center;
  }



  .copyright-text {
    font-size: 0.8em;
    color: #fcfafa;
    text-align: center;
  }


  footer {
    text-align: center;
    width: 100%;
  }
  
  /* Se vuoi applicare lo stile specificamente ai paragrafi all'interno del footer */
  footer p {
    text-align: center;
    margin: 0 auto; /* Centra il contenuto e applica un margine automatico orizzontale */
  }


  
  
  
  