.background-image-container {
    position: relative;
    background-image: url('/assets/images/homepage_background.jpg');
    background-size: cover;
    background-position: center;
    height: -10px; /* O l'altezza desiderata */
  }


  footer {
    text-align: center;
    width: 100%;
  }
  
  /* Se vuoi applicare lo stile specificamente ai paragrafi all'interno del footer */
  footer p {
    text-align: center;
    margin: 0 auto; /* Centra il contenuto e applica un margine automatico orizzontale */
  }
  