.background-image-container {
    position: relative;
    background-image: url('/assets/images/homepage_background.jpg');
    background-size: cover;
    background-position: center;
    height: -10px; /* O l'altezza desiderata */
  }